.card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: auto;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.card-img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 0;
}

.card-title {
    color: #50a6d8;
    font-weight: bolder;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    margin-top: 0;
    line-height: 1.2;
    display: block;
}

.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1228px) {
    .card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 766px) {
    .card-group {
        grid-template-columns: 1fr;
    }

    .card-content {
        max-width: 70%;
        margin: auto;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        margin-top: 0;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .card-group {
        grid-template-columns: 1fr;
    }

    .card-content {
        max-width: 100%;
        margin: auto;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        margin-top: 0;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
}