/*
@File: Bankless Template Styles

* This file contains the styling that are bankless specific

*/

/**
Global
*/
body {
  color: white !important;
}

/**
  Page Container
  */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}

/**
  Nav bar
  */
.nav-bar {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: black;
  border-bottom: 2px solid rgba(255, 255, 255, 0.51);
  width: 100%;
}

.nav-contents {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  margin-left: 8px;
}

/**
  Section
  */
.section-container {
  width: 80%;
}

/**
  Home Page
  */
.banner-text {
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
  margin-top: 5vh;
}

.banner-underline {
  background: linear-gradient(
    91.88deg,
    #ff1013 44.79%,
    rgba(140, 29, 207, 0) 101.77%
  );
  filter: blur(5px);
  font-size: 8px;
  width: 30%;
  margin-bottom: 10vh;
}

.join-us-group {
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #101010;
  height: 45vh;
  overflow: hidden;
  max-width: 400px;
}

.card-top {
  height: 50%;
}

.card-bottom {
  height: 50%;
  padding: 5% 8%;
}

.card-text {
  color: rgba(255, 255, 255, 0.57);
}

.card-divider {
  margin: 1rem 0px;
}

.buy-bank {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buy-bank-section {
  position: relative;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaced-text {
  margin-top: 5vh;
  letter-spacing: 0.5rem;
}

.bank-banner {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 22px;
  width: 90%;
  height: 10vh;
  padding: 5% 8%;
}
