.navLink:hover .dropdown{
    display: block;
}


@media (min-width: 1040px){
    .header-text{
        margin-top: 130px!important;
    }
}
@media (max-width: 1040px){
    .navLink:hover .dropdown{
        display: contents;
    }
}
